{
  "openapi": "3.1.0",
  "info": {
    "title": "shipmail API",
    "description": "API-first email provider for creators, freelancers, and businesses of all sizes.",
    "version": "0.1.0",
    "contact": {
      "name": "shipmail",
      "url": "https://shipmail.to"
    }
  },
  "servers": [
    {
      "url": "https://shipmail.to/api/v1",
      "description": "Production"
    }
  ],
  "paths": {
    "/calendar/events": {
      "get": {
        "operationId": "listCalendarEvents",
        "summary": "List calendar events",
        "description": "List events in a time range for one mailbox's calendar. Set expand=true to return recurring events as individual instances.",
        "tags": ["Calendar"],
        "x-rate-limit-tier": "read",
        "x-scope": "calendar:read",
        "parameters": [
          {
            "name": "mailbox",
            "in": "query",
            "required": true,
            "description": "The mailbox (calendar owner) address.",
            "schema": {
              "type": "string",
              "format": "email"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "description": "Start of the range (UTC instant).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "description": "End of the range (UTC instant).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "Expand recurring events into individual instances.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "calendar_id",
            "in": "query",
            "description": "Restrict to a single calendar.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (1-250, default 100).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 250,
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of calendar events.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data", "pagination"],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CalendarEvent"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      },
      "post": {
        "operationId": "createCalendarEvent",
        "summary": "Create a calendar event",
        "tags": ["Calendar"],
        "x-rate-limit-tier": "write",
        "x-scope": "calendar:write",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCalendarEventRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Calendar event created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CalendarEvent"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/calendar/events/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Calendar event ID.",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "operationId": "getCalendarEvent",
        "summary": "Get a calendar event",
        "tags": ["Calendar"],
        "x-rate-limit-tier": "read",
        "x-scope": "calendar:read",
        "parameters": [
          {
            "name": "mailbox",
            "in": "query",
            "required": true,
            "description": "The mailbox (calendar owner) address.",
            "schema": {
              "type": "string",
              "format": "email"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Calendar event object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CalendarEvent"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      },
      "patch": {
        "operationId": "updateCalendarEvent",
        "summary": "Update a calendar event",
        "tags": ["Calendar"],
        "x-rate-limit-tier": "write",
        "x-scope": "calendar:write",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCalendarEventRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated calendar event.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CalendarEvent"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      },
      "delete": {
        "operationId": "deleteCalendarEvent",
        "summary": "Delete a calendar event",
        "tags": ["Calendar"],
        "x-rate-limit-tier": "write",
        "x-scope": "calendar:write",
        "parameters": [
          {
            "name": "mailbox",
            "in": "query",
            "required": true,
            "description": "The mailbox (calendar owner) address.",
            "schema": {
              "type": "string",
              "format": "email"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Calendar event deleted."
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/calendar/availability": {
      "get": {
        "operationId": "getCalendarAvailability",
        "summary": "Get open availability",
        "description": "Compute open meeting slots for one mailbox from its own calendar. Derived app-side (not a cross-user free/busy lookup).",
        "tags": ["Calendar"],
        "x-rate-limit-tier": "read",
        "x-scope": "calendar:read",
        "parameters": [
          {
            "name": "mailbox",
            "in": "query",
            "required": true,
            "description": "The mailbox (calendar owner) address.",
            "schema": {
              "type": "string",
              "format": "email"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "description": "Start of the range (UTC instant).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "description": "End of the range (UTC instant).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "duration",
            "in": "query",
            "description": "Meeting length in minutes (default 30).",
            "schema": {
              "type": "integer",
              "minimum": 5,
              "maximum": 480,
              "default": 30
            }
          },
          {
            "name": "interval",
            "in": "query",
            "description": "Step between candidate slot starts in minutes (default = duration).",
            "schema": {
              "type": "integer",
              "minimum": 5,
              "maximum": 480
            }
          },
          {
            "name": "timezone",
            "in": "query",
            "description": "IANA time zone the working window is defined in (default Etc/UTC).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "days",
            "in": "query",
            "description": "Comma-separated weekdays offered, 0=Sunday .. 6=Saturday (default 1,2,3,4,5).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "window_start",
            "in": "query",
            "description": "Start of the daily window, minutes from midnight (default 540).",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 1440
            }
          },
          {
            "name": "window_end",
            "in": "query",
            "description": "End of the daily window, minutes from midnight (default 1020).",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 1440
            }
          },
          {
            "name": "buffer",
            "in": "query",
            "description": "Padding around busy intervals in minutes (default 0).",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 240
            }
          },
          {
            "name": "minimum_notice",
            "in": "query",
            "description": "Minimum notice before the first slot in minutes (default 0).",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Open availability slots.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CalendarAvailability"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/booking-pages": {
      "get": {
        "operationId": "listBookingPages",
        "summary": "List booking pages",
        "tags": ["Booking Pages"],
        "x-rate-limit-tier": "read",
        "x-scope": "booking_pages:read",
        "parameters": [
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of booking pages.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data", "pagination"],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BookingPage"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      },
      "post": {
        "operationId": "createBookingPage",
        "summary": "Create a booking page",
        "tags": ["Booking Pages"],
        "x-rate-limit-tier": "write",
        "x-scope": "booking_pages:write",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBookingPageRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Booking page created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookingPage"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "409": {
            "$ref": "#/components/responses/ConflictError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/booking-pages/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Booking page ID.",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "operationId": "getBookingPage",
        "summary": "Get a booking page",
        "tags": ["Booking Pages"],
        "x-rate-limit-tier": "read",
        "x-scope": "booking_pages:read",
        "responses": {
          "200": {
            "description": "Booking page object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookingPage"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      },
      "patch": {
        "operationId": "updateBookingPage",
        "summary": "Update a booking page",
        "tags": ["Booking Pages"],
        "x-rate-limit-tier": "write",
        "x-scope": "booking_pages:write",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBookingPageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated booking page.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookingPage"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "409": {
            "$ref": "#/components/responses/ConflictError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      },
      "delete": {
        "operationId": "deleteBookingPage",
        "summary": "Delete a booking page",
        "tags": ["Booking Pages"],
        "x-rate-limit-tier": "write",
        "x-scope": "booking_pages:write",
        "responses": {
          "204": {
            "description": "Booking page deleted."
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/status": {
      "get": {
        "operationId": "getStatus",
        "summary": "Get API status",
        "description": "Public health check endpoint. No authentication required.",
        "tags": ["Status"],
        "security": [],
        "responses": {
          "200": {
            "description": "API status returned. The status field is maintenance during a planned maintenance window.",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/domains": {
      "parameters": [{ "$ref": "#/components/parameters/DelegatedOrganizationId" }],
      "post": {
        "operationId": "createDomain",
        "summary": "Create a domain",
        "description": "Add a custom domain to your account. After creation, configure DNS records and verify.",
        "tags": ["Domains"],
        "x-rate-limit-tier": "write",
        "x-scope": "domains:write",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDomainRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Domain created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      },
      "get": {
        "operationId": "listDomains",
        "summary": "List domains",
        "description": "List all domains in your account with cursor-based pagination.",
        "tags": ["Domains"],
        "x-rate-limit-tier": "read",
        "x-scope": "domains:read",
        "parameters": [
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of domains.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data", "pagination"],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Domain"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/domains/{id}": {
      "parameters": [{ "$ref": "#/components/parameters/DelegatedOrganizationId" }],
      "parameters": [
        {
          "$ref": "#/components/parameters/ResourceId"
        }
      ],
      "get": {
        "operationId": "getDomain",
        "summary": "Get a domain",
        "tags": ["Domains"],
        "x-rate-limit-tier": "read",
        "x-scope": "domains:read",
        "responses": {
          "200": {
            "description": "Domain object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      },
      "patch": {
        "operationId": "updateDomain",
        "summary": "Update a domain",
        "description": "Update domain settings such as the catch-all mailbox.",
        "tags": ["Domains"],
        "x-rate-limit-tier": "write",
        "x-scope": "domains:write",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDomainRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated domain.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      },
      "delete": {
        "operationId": "deleteDomain",
        "summary": "Delete a domain",
        "description": "Permanently delete a domain and all associated mailboxes.",
        "tags": ["Domains"],
        "x-rate-limit-tier": "write",
        "x-scope": "domains:write",
        "responses": {
          "204": {
            "description": "Domain deleted."
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/domains/{id}/verification": {
      "parameters": [{ "$ref": "#/components/parameters/DelegatedOrganizationId" }],
      "parameters": [
        {
          "$ref": "#/components/parameters/ResourceId"
        }
      ],
      "post": {
        "operationId": "verifyDomain",
        "summary": "Verify domain DNS records",
        "description": "Check DNS records for the domain and update verification status. Rate limited to 1 request per minute. For automated setups, subscribe to the domain.verified webhook event instead of polling this endpoint.",
        "tags": ["Domains"],
        "x-rate-limit-tier": "verification",
        "x-scope": "domains:read",
        "responses": {
          "200": {
            "description": "Verification result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerificationResult"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/domains/{id}/dns-records": {
      "parameters": [{ "$ref": "#/components/parameters/DelegatedOrganizationId" }],
      "parameters": [
        {
          "$ref": "#/components/parameters/ResourceId"
        }
      ],
      "get": {
        "operationId": "getDomainDnsRecords",
        "summary": "Get domain DNS records",
        "description": "Return all DNS records required by Shipmail and run a live, read-only DNS check. This endpoint does not update the domain's persisted verification state.",
        "tags": ["Domains"],
        "x-rate-limit-tier": "verification",
        "x-scope": "domains:read",
        "responses": {
          "200": {
            "description": "Required DNS records with live diagnostics.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainDnsRecordSet"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/domains/search": {
      "post": {
        "operationId": "searchDomains",
        "summary": "Search available domains",
        "description": "Search for available domain names to register. Returns availability and pricing information.",
        "tags": ["Domains"],
        "x-rate-limit-tier": "read",
        "x-scope": "domains:read",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["keyword"],
                "properties": {
                  "keyword": {
                    "type": "string",
                    "description": "Keyword to search for available domains."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["results"],
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DomainSearchResult"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/domains/register": {
      "post": {
        "operationId": "registerDomain",
        "summary": "Register a domain",
        "description": "Register a new domain through shipmail. Charges the saved payment method and returns the created Domain object. Requires an active subscription.",
        "tags": ["Domains"],
        "x-rate-limit-tier": "write",
        "x-scope": "domains:write",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name", "contact"],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Domain name to register (e.g. example.com)."
                  },
                  "years": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 10,
                    "default": 1,
                    "description": "Number of years to register for. Defaults to 1."
                  },
                  "contact": {
                    "$ref": "#/components/schemas/RegistrationContact"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Domain registered, DNS configured, and ready for mailboxes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "402": {
            "description": "Payment failed or no payment method on file.",
            "$ref": "#/components/responses/ValidationError"
          },
          "403": {
            "description": "Active subscription required to register domains.",
            "$ref": "#/components/responses/AuthorizationError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/mailboxes": {
      "parameters": [{ "$ref": "#/components/parameters/DelegatedOrganizationId" }],
      "post": {
        "operationId": "createMailbox",
        "summary": "Create a mailbox",
        "description": "Create a new mailbox on a verified domain.",
        "tags": ["Mailboxes"],
        "x-rate-limit-tier": "write",
        "x-scope": "mailboxes:write",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMailboxRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Mailbox created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mailbox"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/QuotaExceededError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      },
      "get": {
        "operationId": "listMailboxes",
        "summary": "List mailboxes",
        "description": "List mailboxes with optional domain filter and cursor-based pagination. Use the returned mailbox object's id field as mailbox_id for mailbox-scoped endpoints.",
        "tags": ["Mailboxes"],
        "x-rate-limit-tier": "read",
        "x-scope": "mailboxes:read",
        "parameters": [
          {
            "name": "domain_id",
            "in": "query",
            "description": "Filter mailboxes by domain ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of mailboxes.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data", "pagination"],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Mailbox"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/mailboxes/{id}": {
      "parameters": [{ "$ref": "#/components/parameters/DelegatedOrganizationId" }],
      "parameters": [
        {
          "$ref": "#/components/parameters/ResourceId"
        }
      ],
      "get": {
        "operationId": "getMailbox",
        "summary": "Get a mailbox",
        "tags": ["Mailboxes"],
        "x-rate-limit-tier": "read",
        "x-scope": "mailboxes:read",
        "responses": {
          "200": {
            "description": "Mailbox object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mailbox"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      },
      "patch": {
        "operationId": "updateMailbox",
        "summary": "Update a mailbox",
        "tags": ["Mailboxes"],
        "x-rate-limit-tier": "write",
        "x-scope": "mailboxes:write",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMailboxRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated mailbox.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mailbox"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      },
      "delete": {
        "operationId": "deleteMailbox",
        "summary": "Delete a mailbox",
        "tags": ["Mailboxes"],
        "x-rate-limit-tier": "write",
        "x-scope": "mailboxes:write",
        "responses": {
          "204": {
            "description": "Mailbox deleted."
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/mailboxes/{id}/suspend": {
      "parameters": [{ "$ref": "#/components/parameters/DelegatedOrganizationId" }],
      "parameters": [
        {
          "$ref": "#/components/parameters/ResourceId"
        }
      ],
      "post": {
        "operationId": "suspendMailbox",
        "summary": "Suspend a mailbox",
        "description": "Add a manual suspension. Authentication, sending, receiving, and mailbox rules are blocked. Billing and security suspension reasons remain independent.",
        "tags": ["Mailboxes"],
        "x-rate-limit-tier": "write",
        "x-scope": "mailboxes:write",
        "responses": {
          "200": {
            "description": "Suspended mailbox.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mailbox"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/mailboxes/{id}/resume": {
      "parameters": [{ "$ref": "#/components/parameters/DelegatedOrganizationId" }],
      "parameters": [
        {
          "$ref": "#/components/parameters/ResourceId"
        }
      ],
      "post": {
        "operationId": "resumeMailbox",
        "summary": "Resume a mailbox",
        "description": "Remove only the manual suspension. Billing, security, organization reputation, and AWS restrictions are not cleared.",
        "tags": ["Mailboxes"],
        "x-rate-limit-tier": "write",
        "x-scope": "mailboxes:write",
        "responses": {
          "200": {
            "description": "Mailbox after removing the manual suspension.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mailbox"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/mailboxes/{id}/exports": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ResourceId"
        }
      ],
      "post": {
        "operationId": "createMailboxExport",
        "summary": "Create a mailbox export",
        "description": "Queue a fail-closed ZIP snapshot of one mailbox. Archived mailboxes reuse their exact current billing snapshot without restoring the mailbox. Poll the returned export until completed.",
        "tags": ["Mailboxes"],
        "x-rate-limit-tier": "write",
        "x-scope": "mailboxes:export",
        "responses": {
          "200": {
            "description": "Existing active export returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MailboxExport"
                }
              }
            }
          },
          "201": {
            "description": "Completed export created by reusing a compatible archived snapshot.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MailboxExport"
                }
              }
            }
          },
          "202": {
            "description": "Mailbox export queued.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MailboxExport"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "409": {
            "$ref": "#/components/responses/ConflictError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/mailboxes/{id}/exports/{export_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ResourceId"
        },
        {
          "name": "export_id",
          "in": "path",
          "required": true,
          "description": "Mailbox export ID.",
          "schema": {
            "type": "string",
            "pattern": "^mbexp_[0-9a-z]{24}$"
          }
        }
      ],
      "get": {
        "operationId": "getMailboxExport",
        "summary": "Get a mailbox export",
        "description": "Read one customer mailbox export. Completed exports include a private download URL valid for at most five minutes and never beyond the seven-day export expiry.",
        "tags": ["Mailboxes"],
        "x-rate-limit-tier": "read",
        "x-scope": "mailboxes:export",
        "responses": {
          "200": {
            "description": "Mailbox export status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MailboxExport"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/mailboxes/{id}/auto-reply": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ResourceId"
        }
      ],
      "patch": {
        "operationId": "updateAutoReply",
        "summary": "Update auto-reply settings",
        "description": "Configure auto-reply (vacation/out-of-office) for a mailbox. When enabled, incoming emails receive an automatic response.",
        "tags": ["Mailboxes"],
        "x-rate-limit-tier": "write",
        "x-scope": "mailboxes:write",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAutoReplyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated mailbox.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mailbox"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/mailboxes/{id}/spam-filter": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ResourceId"
        }
      ],
      "patch": {
        "operationId": "updateSpamFilter",
        "summary": "Update spam filter threshold",
        "description": "Set the mailbox spam filter threshold. Lower values are stricter; messages at or above the threshold are moved to junk.",
        "tags": ["Mailboxes"],
        "x-rate-limit-tier": "write",
        "x-scope": "mailboxes:write",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSpamFilterRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated mailbox.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mailbox"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/mailboxes/{id}/password": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ResourceId"
        }
      ],
      "patch": {
        "operationId": "resetMailboxPassword",
        "summary": "Reset mailbox password",
        "description": "Reset the login password for a mailbox.",
        "tags": ["Mailboxes"],
        "x-rate-limit-tier": "write",
        "x-scope": "mailboxes:write",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResetMailboxPasswordRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated mailbox.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mailbox"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/mailboxes/{id}/folders": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ResourceId"
        }
      ],
      "get": {
        "operationId": "listMailboxFolders",
        "summary": "List mailbox folders",
        "description": "List system and custom folders for a mailbox, including unread and total counts.",
        "tags": ["Mailboxes"],
        "x-rate-limit-tier": "read",
        "x-scope": "mailboxes:read",
        "responses": {
          "200": {
            "description": "Mailbox folders.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MailboxFolders"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      },
      "post": {
        "operationId": "createMailboxFolder",
        "summary": "Create mailbox folder",
        "description": "Create a custom folder or subfolder for a mailbox. System folder names are reserved.",
        "tags": ["Mailboxes"],
        "x-rate-limit-tier": "write",
        "x-scope": "mailboxes:write",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMailboxFolderRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Mailbox folder created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MailboxFolder"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "409": {
            "$ref": "#/components/responses/ConflictError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/mailboxes/{id}/folders/{folder_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ResourceId"
        },
        {
          "$ref": "#/components/parameters/FolderId"
        }
      ],
      "patch": {
        "operationId": "updateMailboxFolder",
        "summary": "Rename mailbox folder",
        "description": "Rename a custom mailbox folder. System folders cannot be renamed.",
        "tags": ["Mailboxes"],
        "x-rate-limit-tier": "write",
        "x-scope": "mailboxes:write",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMailboxFolderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mailbox folder renamed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MailboxFolder"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "409": {
            "$ref": "#/components/responses/ConflictError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      },
      "delete": {
        "operationId": "deleteMailboxFolder",
        "summary": "Delete mailbox folder",
        "description": "Delete a custom mailbox folder and its subfolders after moving their messages to Trash. Folders referenced by rules must be removed from rules first.",
        "tags": ["Mailboxes"],
        "x-rate-limit-tier": "write",
        "x-scope": "mailboxes:write",
        "responses": {
          "204": {
            "description": "Mailbox folder deleted."
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "409": {
            "$ref": "#/components/responses/ConflictError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/mailboxes/{id}/identities": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ResourceId"
        }
      ],
      "get": {
        "operationId": "listMailboxIdentities",
        "summary": "List mailbox identities",
        "description": "List JMAP sending identities for a mailbox.",
        "tags": ["Mailboxes"],
        "x-rate-limit-tier": "read",
        "x-scope": "mailboxes:read",
        "responses": {
          "200": {
            "description": "Mailbox identities.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MailboxIdentities"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/mailboxes/{id}/rules": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ResourceId"
        }
      ],
      "get": {
        "operationId": "getMailboxRules",
        "summary": "Get mailbox rules",
        "description": "Fetch server-side inbox rules and available target folders for a mailbox.",
        "tags": ["Mailboxes"],
        "x-rate-limit-tier": "read",
        "x-scope": "mailboxes:read",
        "responses": {
          "200": {
            "description": "Mailbox rules and folder options.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MailboxRules"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      },
      "put": {
        "operationId": "updateMailboxRules",
        "summary": "Replace mailbox rules",
        "description": "Replace all server-side inbox rules for a mailbox. Call GET first to inspect existing rules and folder IDs.",
        "tags": ["Mailboxes"],
        "x-rate-limit-tier": "write",
        "x-scope": "mailboxes:write",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMailboxRulesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated mailbox rules.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MailboxRules"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/mailboxes/{id}/forwarding": {
      "parameters": [{ "$ref": "#/components/parameters/DelegatedOrganizationId" }],
      "parameters": [
        {
          "$ref": "#/components/parameters/ResourceId"
        }
      ],
      "get": {
        "operationId": "listMailboxForwarding",
        "summary": "List mailbox forwarding destinations",
        "description": "List pending and active forwarding destinations for a mailbox.",
        "tags": ["Mailboxes"],
        "x-rate-limit-tier": "read",
        "x-scope": "mailboxes:read",
        "responses": {
          "200": {
            "description": "Mailbox forwarding destinations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MailboxForwardingList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      },
      "post": {
        "operationId": "createMailboxForwarding",
        "summary": "Add a mailbox forwarding destination",
        "description": "Send a confirmation email to a forwarding destination. Forwarding becomes active only after the recipient confirms. Active forwarding keeps a copy in the Shipmail mailbox and excludes messages classified as spam. Repeating this request for a pending destination sends a new confirmation link.",
        "tags": ["Mailboxes"],
        "x-rate-limit-tier": "write",
        "x-scope": "mailboxes:write",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMailboxForwardingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Forwarding destination created, refreshed, or already active.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MailboxForwarding"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/mailboxes/{id}/forwarding/{forwarding_id}": {
      "parameters": [{ "$ref": "#/components/parameters/DelegatedOrganizationId" }],
      "parameters": [
        {
          "$ref": "#/components/parameters/ResourceId"
        },
        {
          "name": "forwarding_id",
          "in": "path",
          "required": true,
          "description": "Forwarding destination ID.",
          "schema": {
            "type": "string",
            "pattern": "^fwd_[0-9a-z]{24}$"
          }
        }
      ],
      "delete": {
        "operationId": "deleteMailboxForwarding",
        "summary": "Remove a mailbox forwarding destination",
        "description": "Remove a pending or active forwarding destination. Active delivery is removed from the mail server before the record is deleted.",
        "tags": ["Mailboxes"],
        "x-rate-limit-tier": "write",
        "x-scope": "mailboxes:write",
        "responses": {
          "204": {
            "description": "Forwarding destination removed."
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/mailboxes/{id}/sandbox/inbound": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ResourceId"
        }
      ],
      "post": {
        "operationId": "injectSandboxInbound",
        "summary": "Inject a sandbox inbound message",
        "description": "Create a fake inbound message in isolated sandbox storage. This endpoint requires a test API key. It runs the normal inbound threading, rule, and webhook pipeline without delivering mail to any supplied address.",
        "tags": ["Mailboxes", "Messages"],
        "x-rate-limit-tier": "write",
        "x-scope": "messages:write",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InjectSandboxInboundRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Sandbox inbound message created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "409": {
            "$ref": "#/components/responses/ConflictError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/messages": {
      "get": {
        "operationId": "listMessages",
        "summary": "List messages",
        "description": "List messages with cursor-based pagination. Provide mailbox_id, client_reference, or both. client_reference lookup is exact and organization-scoped.",
        "tags": ["Messages"],
        "x-rate-limit-tier": "read",
        "x-scope": "messages:read",
        "parameters": [
          {
            "name": "mailbox_id",
            "in": "query",
            "required": false,
            "description": "Filter messages by mailbox ID. Use the id field returned by GET /mailboxes.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "client_reference",
            "in": "query",
            "required": false,
            "description": "Exact caller-defined reference. At least one of mailbox_id or client_reference is required.",
            "schema": {
              "$ref": "#/components/schemas/ClientReference"
            }
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of messages.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data", "pagination"],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Message"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      },
      "post": {
        "operationId": "sendMessage",
        "summary": "Send a message",
        "description": "Send an email from a mailbox. Provide from (email address) or mailbox_id to identify the sender. Prefer from when you know the mailbox email address; Shipmail resolves it to a mailbox ID. At least one of html or text is required. Total recipients (to + cc + bcc) must not exceed 50. Attachments are base64-encoded, max 20 files, 3 MB per file, 3 MB total.",
        "tags": ["Messages"],
        "x-rate-limit-tier": "send",
        "x-scope": "messages:write",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendMessageRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Message queued for delivery.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/QuotaExceededError"
          },
          "409": {
            "$ref": "#/components/responses/ConflictError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/messages/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ResourceId"
        }
      ],
      "get": {
        "operationId": "getMessage",
        "summary": "Get a message",
        "tags": ["Messages"],
        "x-rate-limit-tier": "read",
        "x-scope": "messages:read",
        "responses": {
          "200": {
            "description": "Message object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/messages/{id}/reply": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ResourceId"
        }
      ],
      "post": {
        "operationId": "replyToMessage",
        "summary": "Reply to a message",
        "description": "Reply to a message by its ID. Looks up the message's thread and sends a reply using the same mailbox.",
        "tags": ["Messages"],
        "x-rate-limit-tier": "send",
        "x-scope": "messages:write",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplyToThreadRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Reply sent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/QuotaExceededError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "409": {
            "$ref": "#/components/responses/ConflictError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/threads": {
      "get": {
        "operationId": "listThreads",
        "summary": "List threads",
        "description": "List message threads for a mailbox with cursor-based pagination.",
        "tags": ["Threads"],
        "x-rate-limit-tier": "read",
        "x-scope": "threads:read",
        "parameters": [
          {
            "name": "mailbox_id",
            "in": "query",
            "required": true,
            "description": "Filter threads by mailbox ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of thread summaries.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data", "pagination"],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Thread"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/threads/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ResourceId"
        }
      ],
      "get": {
        "operationId": "getThread",
        "summary": "Get thread messages",
        "description": "List all messages in a thread with cursor-based pagination.",
        "tags": ["Threads"],
        "x-rate-limit-tier": "read",
        "x-scope": "threads:read",
        "parameters": [
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of messages in the thread.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data", "pagination"],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Message"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/threads/{id}/reply": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ResourceId"
        }
      ],
      "post": {
        "operationId": "replyToThread",
        "summary": "Reply to a thread",
        "description": "Send a reply within an existing thread. At least one of html or text is required. Total recipients (to + cc) must not exceed 50.",
        "tags": ["Threads"],
        "x-rate-limit-tier": "send",
        "x-scope": "messages:write",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplyToThreadRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Reply queued for delivery.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/QuotaExceededError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "409": {
            "$ref": "#/components/responses/ConflictError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/webhooks": {
      "post": {
        "operationId": "createWebhook",
        "summary": "Create a webhook",
        "description": "Register a webhook endpoint to receive event notifications. Maximum 10 webhooks per account. The secret is only returned at creation time.",
        "tags": ["Webhooks"],
        "x-rate-limit-tier": "write",
        "x-scope": "webhooks:write",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWebhookRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook created. The secret field is only included in this response.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Webhook"
                    },
                    {
                      "type": "object",
                      "required": ["secret"],
                      "properties": {
                        "secret": {
                          "type": "string",
                          "description": "HMAC signing secret. Only returned at creation time."
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      },
      "get": {
        "operationId": "listWebhooks",
        "summary": "List webhooks",
        "tags": ["Webhooks"],
        "x-rate-limit-tier": "read",
        "x-scope": "webhooks:read",
        "parameters": [
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of webhooks.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data", "pagination"],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Webhook"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/webhooks/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ResourceId"
        }
      ],
      "get": {
        "operationId": "getWebhook",
        "summary": "Get a webhook",
        "tags": ["Webhooks"],
        "x-rate-limit-tier": "read",
        "x-scope": "webhooks:read",
        "responses": {
          "200": {
            "description": "Webhook object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      },
      "patch": {
        "operationId": "updateWebhook",
        "summary": "Update a webhook",
        "tags": ["Webhooks"],
        "x-rate-limit-tier": "write",
        "x-scope": "webhooks:write",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWebhookRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated webhook.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      },
      "delete": {
        "operationId": "deleteWebhook",
        "summary": "Delete a webhook",
        "tags": ["Webhooks"],
        "x-rate-limit-tier": "write",
        "x-scope": "webhooks:write",
        "responses": {
          "204": {
            "description": "Webhook deleted."
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/webhooks/{id}/rotate-secret": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ResourceId"
        }
      ],
      "post": {
        "operationId": "rotateWebhookSecret",
        "summary": "Rotate webhook secret",
        "description": "Generate a new signing secret. The previous secret remains valid for 24 hours.",
        "tags": ["Webhooks"],
        "x-rate-limit-tier": "write",
        "x-scope": "webhooks:write",
        "responses": {
          "200": {
            "description": "New secret generated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RotateSecretResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/webhooks/{id}/test": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ResourceId"
        }
      ],
      "post": {
        "operationId": "testWebhook",
        "summary": "Send a test event",
        "description": "Send a test webhook.test event to the endpoint.",
        "tags": ["Webhooks"],
        "x-rate-limit-tier": "write",
        "x-scope": "webhooks:write",
        "responses": {
          "202": {
            "description": "Test event queued.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["event_id"],
                  "properties": {
                    "event_id": {
                      "type": "string",
                      "description": "ID of the test event.",
                      "example": "evt_abc123"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/webhooks/{id}/deliveries": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ResourceId"
        }
      ],
      "get": {
        "operationId": "listWebhookDeliveries",
        "summary": "List webhook deliveries",
        "description": "List delivery attempts for a webhook with optional status and event type filters.",
        "tags": ["Webhooks"],
        "x-rate-limit-tier": "read",
        "x-scope": "webhooks:read",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Filter by delivery status.",
            "schema": {
              "type": "string",
              "enum": ["pending", "delivered", "failed"]
            }
          },
          {
            "name": "event_type",
            "in": "query",
            "description": "Filter by event type.",
            "schema": {
              "$ref": "#/components/schemas/WebhookDeliveryEventType"
            }
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of deliveries.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data", "pagination"],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/WebhookDelivery"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/webhooks/{id}/deliveries/{deliveryId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ResourceId"
        },
        {
          "name": "deliveryId",
          "in": "path",
          "required": true,
          "description": "Webhook delivery ID.",
          "schema": { "type": "string" }
        }
      ],
      "get": {
        "operationId": "getWebhookDelivery",
        "summary": "Retrieve a webhook delivery",
        "description": "Retrieve one organization- and webhook-scoped delivery, including its payload and replay source.",
        "tags": ["Webhooks"],
        "x-rate-limit-tier": "read",
        "x-scope": "webhooks:read",
        "responses": {
          "200": {
            "description": "Webhook delivery detail.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WebhookDeliveryDetail" }
              }
            }
          },
          "404": { "$ref": "#/components/responses/NotFoundError" },
          "429": { "$ref": "#/components/responses/RateLimitError" }
        }
      }
    },
    "/webhooks/{id}/deliveries/{deliveryId}/replay": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ResourceId"
        },
        {
          "name": "deliveryId",
          "in": "path",
          "required": true,
          "description": "Failed webhook delivery ID.",
          "schema": { "type": "string" }
        }
      ],
      "post": {
        "operationId": "replayWebhookDelivery",
        "summary": "Replay a failed webhook delivery",
        "description": "Create a new pending delivery with the same event ID, event type, and payload. Only failed deliveries using the current webhook contract can be replayed.",
        "tags": ["Webhooks"],
        "x-rate-limit-tier": "write",
        "x-scope": "webhooks:write",
        "parameters": [{ "$ref": "#/components/parameters/IdempotencyKey" }],
        "responses": {
          "201": {
            "description": "Replay delivery created.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WebhookDeliveryDetail" }
              }
            }
          },
          "404": { "$ref": "#/components/responses/NotFoundError" },
          "409": { "$ref": "#/components/responses/ConflictError" },
          "422": { "$ref": "#/components/responses/ValidationError" },
          "429": { "$ref": "#/components/responses/RateLimitError" }
        }
      }
    },
    "/suppressions": {
      "get": {
        "operationId": "listSuppressions",
        "summary": "List suppressed email addresses",
        "description": "Returns a paginated list of email addresses that have been suppressed for your organization. Addresses are suppressed automatically on hard bounces and complaints, or manually via the dashboard.",
        "tags": ["Suppressions"],
        "x-rate-limit-tier": "read",
        "x-scope": "suppressions:read",
        "parameters": [
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of suppressed addresses.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Suppression"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/suppressions/{email}": {
      "delete": {
        "operationId": "removeSuppression",
        "summary": "Remove a suppressed address",
        "description": "Removes an email address from the suppression list, allowing you to send to it again. Use with caution: if the address is invalid, future sends will bounce and damage your reputation.",
        "tags": ["Suppressions"],
        "x-rate-limit-tier": "write",
        "x-scope": "suppressions:write",
        "parameters": [
          {
            "name": "email",
            "in": "path",
            "required": true,
            "description": "The email address to remove from the suppression list.",
            "schema": {
              "type": "string",
              "format": "email"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Suppression removed."
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/mailboxes/{id}/inbox/messages": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ResourceId"
        }
      ],
      "get": {
        "operationId": "listMailboxInboxMessages",
        "summary": "List mailbox inbox messages",
        "description": "List inbound JMAP messages for a mailbox with folder, keyword, search, and position-based pagination filters. Rows include body parts and attachment metadata.",
        "tags": ["Mailboxes"],
        "x-rate-limit-tier": "read",
        "x-scope": "messages:read",
        "parameters": [
          {
            "name": "folder_id",
            "in": "query",
            "description": "Filter messages to a specific mailbox folder ID.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 256
            }
          },
          {
            "name": "folder_role",
            "in": "query",
            "description": "Filter messages by a system folder role. Use either folder_id or folder_role, not both.",
            "schema": {
              "type": "string",
              "enum": ["inbox", "starred", "sent", "drafts", "archive", "junk", "trash"]
            }
          },
          {
            "name": "search_text",
            "in": "query",
            "description": "Full-text search query. Max 500 characters.",
            "schema": {
              "type": "string",
              "maxLength": 500
            }
          },
          {
            "name": "position",
            "in": "query",
            "description": "Zero-based JMAP result position. Default 0.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of messages to return (1-100, default 50).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "has_keyword",
            "in": "query",
            "description": "Return messages that have this JMAP keyword.",
            "schema": {
              "$ref": "#/components/schemas/InboxKeyword"
            }
          },
          {
            "name": "not_keyword",
            "in": "query",
            "description": "Return messages that do not have this JMAP keyword.",
            "schema": {
              "$ref": "#/components/schemas/InboxKeyword"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Mailbox inbox messages.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InboxMessages"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/mailboxes/{id}/inbox/messages/{message_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ResourceId"
        },
        {
          "$ref": "#/components/parameters/InboxMessageId"
        }
      ],
      "patch": {
        "operationId": "updateMailboxInboxMessage",
        "summary": "Update mailbox inbox message",
        "description": "Set read and/or starred state on one inbound JMAP message for a mailbox.",
        "tags": ["Mailboxes"],
        "x-rate-limit-tier": "write",
        "x-scope": "messages:write",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateInboxMessageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Inbox message action completed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InboxMessageAction"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      },
      "delete": {
        "operationId": "deleteMailboxInboxMessage",
        "summary": "Delete mailbox inbox message",
        "description": "Permanently delete one inbound JMAP message. The message must already be in Trash or Junk; use the move endpoint to move it to Trash first.",
        "tags": ["Mailboxes"],
        "x-rate-limit-tier": "write",
        "x-scope": "messages:write",
        "responses": {
          "204": {
            "description": "Inbox message permanently deleted."
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/mailboxes/{id}/inbox/messages/{message_id}/move": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ResourceId"
        },
        {
          "$ref": "#/components/parameters/InboxMessageId"
        }
      ],
      "post": {
        "operationId": "moveMailboxInboxMessage",
        "summary": "Move mailbox inbox message",
        "description": "Move one inbound JMAP message to a system folder role or custom folder ID.",
        "tags": ["Mailboxes"],
        "x-rate-limit-tier": "write",
        "x-scope": "messages:write",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MoveInboxMessageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Inbox message action completed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InboxMessageAction"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/mailboxes/{id}/inbox/threads/{thread_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ResourceId"
        },
        {
          "$ref": "#/components/parameters/InboxThreadId"
        }
      ],
      "get": {
        "operationId": "getMailboxInboxThread",
        "summary": "Get mailbox inbox thread",
        "description": "Fetch full inbound JMAP thread messages for a mailbox, including body parts and attachment metadata.",
        "tags": ["Mailboxes"],
        "x-rate-limit-tier": "read",
        "x-scope": "messages:read",
        "responses": {
          "200": {
            "description": "Mailbox inbox thread.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InboxThread"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/mailboxes/{id}/inbox/attachments": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ResourceId"
        }
      ],
      "get": {
        "operationId": "downloadMailboxInboxAttachment",
        "summary": "Download mailbox inbox attachment",
        "description": "Download a raw attachment blob from a mailbox inbox message. Blob IDs are query parameters because they can contain slash characters.",
        "tags": ["Mailboxes"],
        "x-rate-limit-tier": "read",
        "x-scope": "messages:read",
        "parameters": [
          {
            "name": "blob_id",
            "in": "query",
            "required": true,
            "description": "JMAP attachment blob ID from an inbox thread response.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 256,
              "pattern": "^[A-Za-z0-9_\\-+=/.]+$"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Suggested download filename. Defaults to attachment.",
            "schema": {
              "type": "string",
              "maxLength": 512,
              "default": "attachment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Attachment bytes.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "413": {
            "description": "Attachment too large."
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/mailboxes/{id}/imports": {
      "post": {
        "operationId": "createMailboxImport",
        "summary": "Start a mailbox import",
        "description": "Import mail from another provider into this mailbox. IMAP sources run over the source provider's IMAP with an app password. File sources import staged uploads (Google Takeout MBOX, Proton or Tuta EML exports, generic MBOX or EML zips). The import runs in the background, preserves folders, read state, and dates, deduplicates, and can be re-run safely.",
        "tags": ["Mailboxes"],
        "x-rate-limit-tier": "write",
        "x-scope": "mailboxes:write",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Mailbox ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
[...]
